# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
dist/

# environment variables
.env
.env.local

# IDE
.idea/
.vscode/

# package managers
yarn.lock
package-lock.json

# misc
.DS_Store
